*.bin
*.dll
*.info
*.resource
unity/DependencyInjection/Library
unity/KnobbyHand/Library
unity/Rigging/Library
unity/HandGUI/Library
*.meta
*.dll
*.dylib
*.so
*.pdb
*.jar
*.bundle
*.lib
*.ilk
unity/ScubaTrainerVR/ScubaTrainerVR.userprefs