*.bin
*.dll
*.info
*.resource
unity/DependencyInjection/Library
unity/KnobbyHand/Library
unity/Rigging/Library
unity/HandGUI/Library
unity/ConwayLife/Library
unity/FingerPaint/Library
unity/GizmoSkeleton/Library
unity/LeapBoneVisualizer/Library
unity/Phone/Library
unity/Ring/Library
*.meta
*.dll
*.dylib
*.so
*.pdb
*.jar
*.bundle
*.lib
*.ilk
unity/ScubaTrainerVR/ScubaTrainerVR.userprefs